//För mobil-layout
$base-padding: 8px;
$base-font: "Roboto",
sans-serif;
$heading-font: "Merriweather",
serif;

// HEADER //
header {
    font-family: $heading-font;
    display: flex;
    justify-content: center;
    background-color: #00817882;
    height: 105px;

}

// MAIN OUTLET //
main {

    p {
        font-family: $base-font;
        font-size: 1rem;
        // padding: $base-padding;
    }

    h2 {
        font-family: $heading-font;
        font-size: 2rem;
        padding: $base-padding * 2;
    }

    h3 {
        font-family: $heading-font;
        font-size: 1.5rem;
    }
}

// STARTSIDAN //

@keyframes changeBg {

    0% {
        right: 0px;
    }

    10% {
        right: 0px;
    }

    20% {
        right: 1280px;
    }

    30% {
        right: 1280px;
    }

    40% {
        right: 2560px;
    }

    50% {
        right: 2560px;
    }

    60% {
        right: 1280;
    }

    70% {
        right: 1280;
    }

    80% {
        right: 0px;
    }

    90% {
        right: 0px;
    }

    100% {
        right: 0px;
    }
}

.photoContainer {
    display: flex;
    overflow: hidden;
    margin-top: 3rem;
    width: 4320px;




    .photos {
        position: relative;
        width: 1280px;
        animation: changeBg 33s ease infinite;

    }

}

.startpageTextContainer {
    padding: $base-padding $base-padding * 2;
}

// MENYSIDAN //

.menuContainer {
    margin: 8px * 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;


    .menuList {
        padding: $base-padding;
    }

    footer {
        font-family: $base-font;
    }

    .menuPrice {
        font-weight: 700;
    }
}

// BOOKINGSIDAN //
.showBookings {
    display: flex;
}

.bookingDetails {
    // display: flex;
    // flex-direction: column;
    // flex-wrap: wrap;
    // justify-content: space-between;
    // align-items: center;

    ul {
        list-style: none;
        text-align: left;
    }

}

.bookingDiv {
    display: flex;
    flex-direction: column;
    gap: $base-padding * 2;
    // justify-content: center;
    align-items: center;
    padding: $base-padding;

    label {
        font-family: $base-font;
        font-size: 1rem;
        padding-top: $base-padding;
        margin-top: $base-padding * 2;
    }

    input {
        margin: $base-padding;
        padding: $base-padding;
    }

    .bookingSearchForm {
        display: flex;
        flex-direction: column;

        input {
            width: 45vw;
        }

    }

    .bookingUserForm {
        display: flex;
        flex-direction: column;
        align-items: center;

        input {
            width: 45vw;
        }

        .bookingTimesDiv {
            display: flex;
            flex-direction: row;
            width: auto;

            .bookingRadioInput1 {
                display: flex;
                flex-direction: row;
                width: 23.5vw;
                border: 1px solid black;
                margin-top: $base-padding;

                label {
                    width: auto;
                    padding: $base-padding/2;
                    margin: 0;
                }

                input {
                    width: auto;
                }
            }

            .bookingRadioInput2 {
                display: flex;
                flex-direction: row;
                width: 23.5vw;
                border: 1px solid black;
                margin-top: $base-padding;

                label {
                    width: auto;
                    padding: $base-padding/2;
                    margin: 0;
                }

                input {
                    width: auto;
                }
            }
        }

        .errorMessage {
            color: #CF1D15;
            font-family: $base-font;
            margin-top: 0;
            padding-top: 0;
        }

        .bookingBtn {
            background-color: #008178;
            color: #FFF;
            border-radius: 8px;
            border: none;
            font-size: 1rem;
            font-family: $base-font;
            cursor: pointer;
            width: 80px;
        }
    }
}

// ADMINSIDAN //
.linkBackToBookings {
    color: #000;
    font-weight: 700;
    font-size: 1.4rem;
    margin: 1rem;
    display: inline-block;
}

.showBookingsBtn {
    background-color: #008178;
    color: #fff;
    border-radius: 8px;
    border: none;
    font-size: 1rem;
    font-family: "Roboto", sans-serif;
    cursor: pointer;
    display: inline-block;
    margin: 1rem;
    padding: $base-padding;
    text-decoration: none;
}

.changeBtn {
    background-color: #008178;
    color: #fff;
    border-radius: 8px;
    border: none;
    font-size: 1rem;
    font-family: "Roboto", sans-serif;
    cursor: pointer;
    padding: $base-padding;
}

.deleteBtn {
    background-color: #CF1D15;
    color: #fff;
    border-radius: 8px;
    border: none;
    font-size: 1rem;
    font-family: "Roboto", sans-serif;
    cursor: pointer;
    padding: $base-padding;
}

// FOOTER //
footer {
    font-family: $base-font;
    background-color: #00817814;

}