//För mobil-layout
$base-padding: 8px;

header {
    font-family: "merriweather, serif";
    display: flex;
    justify-content: center;
    background-color: #00817882;
    height: 105px;
}

main {

    p {
        font-family: 'roboto, sans-serif';
        font-size: 1rem;
        // padding: $base-padding;
    }

    h2 {
        font-family: "merriweather, serif";
        font-size: 2rem;
        padding: $base-padding * 2;
    }

    h3 {
        font-family: "merriweather, serif";
        font-size: 1.5rem;
    }
}
.menuContainer {
    margin: 8px * 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;

    .menuList {
        padding: $base-padding;
    }

    .menuPrice {
        font-weight: 700;
    }
}

.showBookings {
    display: flex;
}

.bookingDetails {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    ul {
        list-style: none;
        text-align: left;
    }

}

footer {
    font-family: 'roboto, sans-serif';
    background-color: #00817814;
}