// HEADER //
header {
    align-items: center;

    .hide {
        display: flex;
        flex-direction: row;

        a {
            margin-right: 30px;
        }
    }

    .show {
        display: flex;
        flex-direction: row;

        a {
            margin-right: 30px;
        }
    }
}


// STARTSIDAN //
@keyframes changeBg {

    0% {
        right: 0px;
    }

    10% {
        right: 0px;
    }

    20% {
        right: 1280px;
    }

    30% {
        right: 1280px;
    }

    40% {
        right: 2560px;
    }

    50% {
        right: 2560px;
    }

    60% {
        right: 1280px;
    }

    70% {
        right: 1280px;
    }

    80% {
        right: 1280px;
    }

    90% {
        right: 0px;
    }

    100% {
        right: 0px;
    }
}

.slideWrap {
    max-width: 1280px;
    overflow: hidden;
    margin: 0 auto;
}

.photoContainer {
    margin-top: 3rem;

    .photos {
        position: relative;
        width: 1280px;
        animation: changeBg 33s ease infinite;
    }
}

.startpageTextContainer {
    padding: $base-padding * 4 $base-padding * 36;
    line-height: $base-padding * 3;
}

// CONTACTPAGE //
.mapImg {
    width: 900px;
}


// MENUPAGE //
.menuContainer {
    display: flex;
    flex-direction: row;
    text-align: left;
    justify-content: center;
    gap: 10rem;

    .menuList {
        width: 260px;
        padding: $base-padding;
    }
}

// ADMINPAGE //
.bookingInList {
    display: flex;
    flex-direction: row;
    align-items: center;

    li {
        width: 19vw;
        text-align: left;

    }

    .showBookingsBtn {
        width: 19vw;
        margin: 0;
    }
}

// NOTFOUNDPAGE //
.notfoundContainer {

    .crabImg {
        width: 400px;
    }

    h1 {
        margin: 0;
        font-size: 8rem;
    }

    h3 {

        font-size: 2rem;
    }

    p {
        font-size: 2rem;
    }
}

// FOOTER //
footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}