// HEADER //
header {
    .show {
        display: flex;
        flex-direction: row;

        a {
            margin-right: 30px;
        }
    }
}


// START PAGE //
@keyframes changeBg {

    0% {
        right: 0px;
    }

    10% {
        right: 0px;
    }

    20% {
        right: 700px;
    }

    30% {
        right: 700px;
    }

    40% {
        right: 1400px;
    }

    50% {
        right: 1400px;
    }

    60% {
        right: 700px;
    }

    70% {
        right: 700px;
    }

    80% {
        right: 700px;
    }

    90% {
        right: 0px;
    }

    100% {
        right: 0px;
    }
}

.slideWrap {
    max-width: 700px;
    overflow: hidden;
    margin: 0 auto;
}

.photoContainer {
    margin-top: 3rem;

    .photos {
        position: relative;
        width: 700px;
        animation: changeBg 33s ease infinite;
    }
}

.startpageTextContainer {
    padding: $base-padding * 4 $base-padding * 8;
    line-height: $base-padding * 3;
}

// CONTACTPAGE //
.mapImg {
    width: 600px;
}


// MENU PAGE //
.menuContainer {
    display: flex;
    flex-direction: row;
    text-align: left;
    justify-content: center;
    gap: $base-padding *2;
    margin: 0 $base-padding *6;

    .menuList {
        width: 260px;
        padding: $base-padding;
    }
}

// FOOTER //
footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}