
@import url("https://fonts.googleapis.com/css2?family=Merriweather&family=Roboto&display=swap");
header {
  font-family: "merriweather, serif";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main p {
  font-family: 'roboto, sans-serif';
  font-size: 1rem;
  padding: 8px;
}

main h2 {
  font-family: "merriweather, serif";
  font-size: 2rem;
  padding: 16px;
}

main h3 {
  font-family: "merriweather, serif";
  font-size: 1.5rem;
}

footer {
  font-family: 'roboto, sans-serif';
}

.showBookings {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.bookingDetails {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.bookingDetails ul {
  list-style: none;
  text-align: left;
}

@import url("https://fonts.googleapis.com/css2?family=Merriweather&family=Roboto&display=swap");header{font-family:"Merriweather", serif;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center}main p{font-family:"Roboto",sans-serif;font-size:1rem;padding:8px}main h2{font-family:"Merriweather", serif;font-size:2rem;padding:16px}main h3{font-family:"Merriweather", serif;font-size:1.5rem}footer{font-family:"Roboto", sans-serif}.showBookings{display:-webkit-box;display:-ms-flexbox;display:flex}.bookingDetails{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-orient:horizontal;-webkit-box-direction:normal;-ms-flex-direction:row;flex-direction:row;-webkit-box-pack:justify;-ms-flex-pack:justify;justify-content:space-between;-webkit-box-align:center;-ms-flex-align:center;align-items:center}.bookingDetails ul{list-style:none;text-align:left}.bookingDiv{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-orient:horizontal;-webkit-box-direction:normal;-ms-flex-direction:row;flex-direction:row;gap:16px;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center;padding:8px}.bookingDiv label{font-family:"Roboto", sans-serif;font-size:1rem;padding-top:8px;margin-top:16px}.bookingDiv input{margin:8px;padding:8px}.bookingDiv .bookingSearchForm{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-orient:vertical;-webkit-box-direction:normal;-ms-flex-direction:column;flex-direction:column}.bookingDiv .bookingSearchForm input{width:45vw}.bookingDiv .bookingUserForm{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-orient:vertical;-webkit-box-direction:normal;-ms-flex-direction:column;flex-direction:column;-webkit-box-align:center;-ms-flex-align:center;align-items:center}.bookingDiv .bookingUserForm input{width:45vw}.bookingDiv .bookingUserForm .bookingTimesDiv{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-orient:horizontal;-webkit-box-direction:normal;-ms-flex-direction:row;flex-direction:row;width:auto}.bookingDiv .bookingUserForm .bookingTimesDiv .bookingRadioInput1{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-orient:horizontal;-webkit-box-direction:normal;-ms-flex-direction:row;flex-direction:row;width:23.5vw;border:1px solid black;margin-top:8px}.bookingDiv .bookingUserForm .bookingTimesDiv .bookingRadioInput1 label{width:auto;padding:4px;margin:0}.bookingDiv .bookingUserForm .bookingTimesDiv .bookingRadioInput1 input{width:auto}.bookingDiv .bookingUserForm .bookingTimesDiv .bookingRadioInput2{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-orient:horizontal;-webkit-box-direction:normal;-ms-flex-direction:row;flex-direction:row;width:23.5vw;border:1px solid black;margin-top:8px}.bookingDiv .bookingUserForm .bookingTimesDiv .bookingRadioInput2 label{width:auto;padding:4px;margin:0}.bookingDiv .bookingUserForm .bookingTimesDiv .bookingRadioInput2 input{width:auto}.bookingDiv .bookingUserForm .errorMessage{color:#CF1D15;font-family:"Roboto", sans-serif;margin-top:0;padding-top:0}.bookingDiv .bookingUserForm .bookingBtn{background-color:#008178;color:#FFF;border-radius:8px;border:none;font-size:1rem;font-family:"Roboto",sans-serif;cursor:pointer;width:80px}

/*# sourceMappingURL=style.css.map */